.detail {
    img {
        width: 40rem;
        border: 0.1rem solid var(--primary);
    }
    .description {
        .price {
            font-size: 4rem;
            font-weight: 500;
            color: var(--primary);
        }
        select {
            padding: 1rem;
            font-size: 2rem;
            width: 30%;
            background-color: #fff;
        }
        .rating {
            span {
                font-size: 2.4rem;
            }
        }
        .product-desc {
            line-height: 1.5;
            color: var(--primary);
        }
    }
    .cart {
        background-color: var(--primary);
        color: #fff;
        padding: 1rem 2rem;
        font-size: 2rem;
        cursor: pointer;
    }
}

.review {
    .name {
        position: relative;
        padding-left: 8rem;
        &-main {
            text-transform: uppercase;
            font-size: 2.4rem;
            color: var(--primary);
            line-height: 1.5;
        }
        .date {
            font-size: 2rem;
            color: var(--primary);
        }
        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f007";
            color: var(--primary);
            padding: 2rem;
            font-size: 2rem;
            border: 0.1rem solid var(--primary);
            border-radius: 50%;
            top: 0;
            left: 0;
            position: absolute;
        }
    }
    .submission {
        p {
            line-height: 1.5;
            font-size: 1.8rem;
            color: var(--primary);
        }
    }
}

h3 {
    font-size: 3.5rem;
    color: var(--primary);
    font-weight: 400;
}