.header {
    background-color: var(--light);
    padding: 4rem;
    text-align: center;
    h2 {
        color: var(--primary);
        font-size: 4rem;
        font-weight: 400;
    }
    input {
        padding: 2rem;
    }
    .search {
        a {
            background-color: var(--primary);
            color: #fff;
            padding: 2rem;
            cursor: pointer;
        }
    }
}