<div class="steps">
    <ul class="container lead" fxLayout="row">
        <li fxFlex="33.33%">1. Shopping Cart</li>
        <li fxFlex="33.33%">2. Shipping Detials</li>
        <li class="active" fxFlex="33.33%">3. Payment Options</li>
    </ul>
</div>

<div class="payment container lead-large" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between flex-start" fxLayoutAlign.lt-md="center flex-start" fxLayoutGap="5%" fxLayoutGap.lt-md="0">

    <div class="payment-method" fxFlex="65%" fxFlex.lt-md="100%">
        <h3 class="lead">Payment method</h3>
        <div class="bottom-line lead"></div>
        <div class="card lead" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="choose lead" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="flex-start center" fxLayoutAlign.lt-md="center flex-start" fxLayoutGap="5%" fxFlex="100%">
                <input type="radio" name="choose" id="card">
                <div class="desc lead" fxFlex.lt-md="100%">
                    <h5>Credit Card</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quidem?</p>
                </div>
            </div>
            <input id="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="0000 0000 0000 0000" fxFlex="50%" fxFlex.lt-md="100%">
            <input id="cced" type="tel" inputmode="numeric" pattern="[0-9]{3,4}" autocomplete="cc-number" maxlength="5" placeholder="MM/YY" fxFlex="20%" fxFlex.lt-md="40%">
            <input id="cccvv" type="tel" inputmode="numeric" pattern="[0-9]{3,4}" autocomplete="cc-number" maxlength="4" placeholder="CVV" fxFlex="20%" fxFlex.lt-md="40%">
            <input type="text" name="name" id="name" placeholder="Card Holder Name" fxFlex="100%">
        </div>
        <div class="bottom-line lead"></div>
        <div class="paypal lead" fxLayout="row wrap" fxLayoutAlign="flex-start center" fxLayoutGap="5%">
            <input type="radio" name="choose" id="paypal" fxFlex="5%" fxFlex.lt-md="10%">
            <div class="desc lead" fxFlex="65%" fxFlex.lt-md="100%">
                <h5>Paypal</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quidem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, eos!</p>
            </div>
            <img src="../../../../assets/images/Paypal-Logo.png" fxFlex="20%" fxFlex.lt-md="40%">
        </div>
        <div class="bottom-line lead-large"></div>
    </div>

    <div class="summary" fxFlex="30%" fxFlex.lt-md="100%">
        <h3 class="lead">Summary</h3>
        <div class="bottom-line lead"></div>
        <ul class="lead">
            <li *ngFor="let item of items" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10%" class="lead">
                <img [src]="item.product.imageUrl" fxFlex="30%">
                <div class="description">
                    <p class="lead">{{ item.product.productName }}</p>
                    <p>{{ item.product.price | currency:'USD':'symbol':'2.2'}}</p>
                </div>
            </li>
        </ul>
        <div class="bottom-line lead"></div>
        <h4 class="lead">{{ couponApplied == false ? "Buying first time? Use code firstbuy and avail $50 instant discount!" : "Coupon Successfully applied!"}}</h4>
        <div class="coupon lead">
            <form (submit)="onSubmit()">
                <input [(ngModel)]="couponCode" name="coupon" placeholder="Enter Coupon Code" spellcheck="false">
                <button type="submit" (click)="checkCode()">Enter</button>
            </form>
        </div>
        <div class="bottom-line lead"></div>
        <div class="subtotal lead" fxLayout="row" fxLayoutAlign="space-between center">
            <p>subtotal</p>
            <p>{{total | currency:'USD':'symbol':'2.2'}}</p>
        </div>
        <div class="shipping lead" fxLayout="row" fxLayoutAlign="space-between center">
            <p>shipping</p>
            <p>Free</p>
        </div>
        <div class="taxes lead" fxLayout="row" fxLayoutAlign="space-between center">
            <p>taxes</p>
            <p>{{ total/20 | currency:'USD':'symbol':'2.2'}}</p>
        </div>
        <div class="bottom-line lead"></div>
        <div class="total" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>TOTAL</h3>
            <p>{{total + (total/20) - couponDiscount| currency:'USD':'symbol':'2.2'}}</p>
        </div>
    </div>
</div>

<div class="container lead" fxLayoutAlign.xs="center" fxLayoutGap="2rem">
    <a class="primary" [routerLink]="['/cart-finalize']" (click)="clearAll()" skipLocationChange>Pay Now</a>
    <a class="light" [routerLink]="['/cart-shipping']">Back</a>
</div>
