<header class="header">
    <nav class="container">
        <ul fxLayout="row" fxLayoutAlign="flex-end start" fxLayoutGap="4rem">
            <li><a class="nav-link" [routerLink]="['']">Home</a></li>
            <li><a class="nav-link" [routerLink]="['/about']">About</a></li>
            <li><a class="nav-link" [routerLink]="['/shop']">Shop</a></li>
            <li><a class="nav-link" [routerLink]="['/help']">Help</a></li>
            <li><a class="cart" [routerLink]="['/cart']"><i class="fas fa-shopping-cart"></i> Your Cart</a></li>
        </ul>
    </nav>
</header>