.header {
    background-color: var(--light);
    padding: 2rem 0;
    li {
        &::after {
            content: '|';
            margin-left: 4rem;
        }
        &:nth-child(4),
        &:nth-child(5) {
            &::after {
                display: none;
            }
        }
    }
    .cart {
        background-color: var(--primary);
        color: #fff;
        padding: 1rem 2rem;
    }
}

i {
    margin-right: 1rem;
}

@media screen and (max-width: 599px) {
    .header {
        li {
            &::after {
                display: none;
            }
        }
        .cart {
            padding: 0.5rem 1.5rem;
        }
    }
}
