h3 {
    font-size: 3.5rem;
    color: var(--primary);
    font-weight: 400;
}

button {
    cursor: pointer;
    border: none;
    &.primary {
        color: #fff;
        background-color: var(--primary);
        padding: 1rem 4rem;
    }
    &.light {
        color: var(--primary);
        background-color: var(--medium);
        padding: 1rem 4rem;
    }
    &:disabled {
        background-color: var(--light);
    }
}

.steps {
    background-color: var(--light);
    text-align: center;
    ul {
        padding: 8rem 0;
        li {
            position: relative;
            border-bottom: 0.1rem solid var(--medium);
            font-size: 2.4rem;
            font-weight: 400;
            padding-bottom: 4rem;
            color: var(--medium);
            &.active {
                color: var(--primary);
                border-bottom-color: var(--primary);
            }
        }
    }
}

.shipping-details {
    .customer {
        form {
            input,
            select {
                font-size: 2.1rem;
                padding: 1rem;
                margin-bottom: 2rem;
                outline: none;
                border: 0.1rem solid var(--primary);
                background-color: #fff;
                width: 100%;
            }
            select {
                color: var(--primary);
            }
        }
        .shipping-type {
            &>div {
                color: var(--primary);
                padding: 1.5rem 2rem;
                background-color: var(--light);
                border: 0.1rem solid var(--medium);
                h4 {
                    font-size: 2.1rem;
                    margin-bottom: 1rem;
                }
            }
            input {
                width: 2rem;
                height: 2rem;
                cursor: pointer;
            }
        }
    }
    .summary {
        color: var(--primary);
        h4 {
            font-size: 1.5rem;
        }
        &>div {
            &>p {
                text-transform: uppercase;
                font-size: 2.1rem;
                font-weight: 400;
            }
        }
        .total {
            p {
                font-size: 3.5rem;
            }
        }
        li {
            .description {
                p {
                    font-size: 2.1rem;
                    color: var(--primary);
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
        .coupon {
            input {
                width: 100%;
                padding: 1rem 1rem 1rem 0;
                font-size: 2.1rem;
                border: none;
                outline: none;
                color: var(--primary);
            }
            button {
                position: absolute;
                left: -999rem;
            }
        }
    }
}

@media screen and (max-width: 599px) {
    .steps {
        ul {
            li {
                font-size: 1.8rem;
            }
        }
    }
    .shipping-details {
        .customer {
            width: 100%;
            text-align: center;
            img {
                width: 100%;
            }
            form {
                input,
                select {
                    font-size: 1.4rem;
                }
            }
        }
        .summary {
            width: 100%;
        }
    }
}
