<footer>
    <ul class="lead" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4rem" fxLayout.lt-sm="column" fxLayoutGap="1rem">
        <li><a class="nav-link" [routerLink]="['']">Home</a></li>
        <li><a class="nav-link" [routerLink]="['/about']">About</a></li>
        <li><a class="nav-link" [routerLink]="['/shop']">Shop</a></li>
        <li><a class="nav-link" [routerLink]="['/help']">Help</a></li>
    </ul>
    <div class="company" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
        <h4>C</h4>
        <p>Your Company Name</p>
    </div>
</footer>
