<div class="steps">
    <ul class="container lead" fxLayout="row">
        <li class="active" fxFlex="33.33%">1. Shopping Cart</li>
        <li fxFlex="33.33%">2. Shipping Detials</li>
        <li fxFlex="33.33%">3. Payment Options</li>
    </ul>
</div>

<div class="shopping-cart container lead-large" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between flex-start" fxLayoutAlign.lt-md="center flex-start" fxLayoutGap="5%" fxLayoutGap.lt-md="0">
    <ul class="cart" fxFlex="65%" fxFlex.lt-md="100%" *ngIf="items && items.length else emptycart">
        <h3 class="lead">Shopping Cart</h3>
        <div class="bottom-line lead"></div>
        <li *ngFor="let item of items" class="lead" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center" fxLayoutGap="5%">
            <img [src]="item.product.imageUrl" fxFlex="20%">
            <div class="description" fxFlex="55%">
                <h4 class="lead">{{ item.product.productName }}</h4>
                <p class="lead">{{ item.product.description | slice:0:50 }}</p>
                <span class="price">{{ item.product.price | currency:'USD':'symbol':'2.2'}}</span>
            </div>
            <div class="quantity" fxFlex="15%" fxLayout="column">
                <p class="lead">{{ item.quantity }} pcs</p>
                <a (click)="addItem(item.product.productId - 1)"><span class="fas fa-plus fa-2x lead"></span></a>
                <a (click)="remove(item.product.productId)"><span class="fas fa-trash-alt fa-2x"></span></a>
            </div>
        </li>
        <div class="bottom-line lead"></div>
    </ul>
    <ng-template #emptycart>
        <div class="no-item" fxLayout="column">
            <p fxFlex="100%" class="empty-cart lead" fxLayoutAlign="flex-start center"><i class="far fa-frown fa-2x"></i> Cart is empty. Add some items first!</p>
            <a fxFlex="100%" [routerLink]="['']" class="back-to-home" fxLayoutAlign="flex-start center"><i class="fas fa-arrow-left fa-2x"></i> Back to home</a>
        </div>
    </ng-template>

    <div class="summary" fxFlex="30%" fxFlex.lt-md="100%" *ngIf="items && items.length">
        <h3 class="lead">Summary</h3>
        <div class="bottom-line lead"></div>
        <h4 class="lead">{{ couponApplied == false ? "Buying first time? Use code firstbuy and avail $50 instant discount!" : "Coupon Successfully applied!"}}</h4>
        <div class="coupon lead">
            <form (submit)="onSubmit()">
                <input [(ngModel)]="couponCode" name="coupon" placeholder="Enter Coupon Code" spellcheck="false">
                <button type="submit" (click)="checkCode()">Enter</button>
            </form>
        </div>
        <div class="bottom-line lead"></div>
        <div class="subtotal lead" fxLayout="row" fxLayoutAlign="space-between center">
            <p>subtotal</p>
            <p>{{total | currency:'USD':'symbol':'2.2'}}</p>
        </div>
        <div class="shipping lead" fxLayout="row" fxLayoutAlign="space-between center">
            <p>shipping</p>
            <p>free</p>
        </div>
        <div class="taxes lead" fxLayout="row" fxLayoutAlign="space-between center">
            <p>taxes</p>
            <p>{{ total/20 | currency:'USD':'symbol':'2.2'}}</p>
        </div>
        <div class="coupon-discount lead" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="couponApplied">
            <p><i class="fas fa-check-square"></i> Coupon Discount</p>
            <p>-{{ couponDiscount | currency:'USD':'symbol':'2.2'}}</p>
        </div>
        <div class="bottom-line lead"></div>
        <div class="total" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>TOTAL</h3>
            <p>{{ total + (total/20) - couponDiscount| currency:'USD':'symbol':'2.2'}}</p>
        </div>
    </div>

    <!-- <a (click)="clearAll()">Clear Cart</a> -->

</div>
<div class="container" fxLayoutAlign.xs="center" fxLayoutGap="2rem">
    <button class="primary" [routerLink]="['/cart-shipping']" [disabled]="items.length == 0" skipLocationChange>Next</button>
    <button class="primary" (click)="clearAll()" [disabled]="items.length == 0">Clear cart</button>
</div>
