:root {
    --primary: #733702;
    --secondary: #F2CA7E;
    --light: #F2F2F2;
    --medium: #D98566;
    --dark: #8C443E;
    --background: #fff;
    --white-color: #fff;
    --black-color: #070707;
}
